{% set explainQuery = app.request.query.has('connection') and app.request.query.has('query') %}
{% extends explainQuery ? 'DoctrineBundle:Collector:ajax_layout.html.twig' : 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="20" height="28" alt="Database" style="border-width: 0; vertical-align: middle; margin-right: 5px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC"/>
    {% endset %}
    {% set text %}
        <span title="{{ '%0.2f'|format(collector.time * 1000) }} ms">{{ collector.querycount }}</span>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/db.png') }}" alt="" /></span>
    <strong>Doctrine</strong>
    <span class="count">
        <span>{{ collector.querycount }}</span>
        <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    {% if explainQuery %}
        {% render 'DoctrineBundle:Profiler:explain' with {
            'token': token,
            'panel': 'db',
            'connectionName': app.request.query.get('connection'),
            'query': app.request.query.get('query')
        } %}
    {% else %}
        {{ block('queries') }}
    {% endif %}
{% endblock %}

{% block queries %}
    <h2>Queries</h2>

    {% for connection, queries in collector.queries %}
        <h3>Connection <em>{{ connection }}</em></h3>
        {% if queries is empty %}
            <p>
                <em>No queries.</em>
            </p>
        {% else %}
            <ul class="alt">
                {% for i, query in queries %}
                    <li class="{{ cycle(['odd', 'even'], i) }}">
                        <div>
                            {% if query.explainable %}
                            <a href="{{ path('_profiler', {'panel': 'db', 'token': token, 'connection': connection, 'query': i}) }}" onclick="return explain(this);" style="text-decoration: none;" data-loaded="0" data-target="explain-{{ i }}" >
                                <img alt="+" src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" style="display: inline;" />
                                <img alt="-" src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" style="display: none;" />
                            </a>
                            {% endif %}
                            <code>{{ query.sql }}</code>
                        </div>
                        <small>
                            <strong>Parameters</strong>: {{ query.params|yaml_encode }}<br />
                            <strong>Time</strong>: {{ '%0.2f'|format(query.executionMS * 1000) }} ms
                        </small>
                        {% if query.explainable %}
                        <div id="explain-{{ i }}" style="display: none;">Loading details...</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

    <h2>Database Connections</h2>

    {% if collector.connections %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Service</th>
                </tr>
            </thead>
            <tbody>
            {% for name, service in collector.connections %}
                <tr>
                    <th>{{ name }}</th>
                    <td>{{ service }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <em>No connections.</em>
        </p>
    {% endif %}

    <h2>Entity Managers</h2>

    {% if collector.managers %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Service</th>
                </tr>
            </thead>
            <tbody>
            {% for name, service in collector.managers %}
                <tr>
                    <th>{{ name }}</th>
                    <td>{{ service }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <em>No entity managers.</em>
        </p>
    {% endif %}

    <script type="text/javascript">//<![CDATA[
        function explain(link) {
            "use strict";
            var xhr,
                tmp,
                imgs = link.children,
                target = document.getElementById(link.dataset.target);

            tmp = imgs[0].style.display;
            imgs[0].style.display = imgs[1].style.display;
            imgs[1].style.display = tmp;

            target.style.display = 'none' === tmp ? 'none' : 'block';

            if ("0" === link.dataset.loaded) {
                link.dataset.loaded = true;
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                } else {
                    xhr = new ActiveXObject('Microsoft.XMLHTTP');
                }
                xhr.open('GET', link.href, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onreadystatechange = function(state) {
                    if (4 === xhr.readyState && 200 === xhr.status) {
                        target.innerHTML = xhr.responseText;
                    } else if (4 === xhr.readyState && xhr.status != 200) {
                        target.innetHTML = 'An error occurred while loading the details';
                    }
                };
                xhr.send();
            }

            return false;
        }
    //]]></script>
{% endblock %}